/* BUTTON */
button {
  color: var(--text-inv);
  background: var(--main-color);
}
/* BUTTON HOVER */
button:hover {
  opacity: 0.8;
}

/* COLORS OF DIFFERENTS BUTTONS */
.optional {
  background-color: var(--n-dark);
}

.hot-color {
  background-color: var(--hot-color);
}
