c3m-breadcrumbs li {
  display: inline-block;
  margin-right: 0.1rem;
}
c3m-breadcrumbs li:not(:last-of-type)::after {
  display: inline-block;
  content: ">";
  padding: 0 0.5em; 
}

c3m-breadcrumbs li strong {}

c3m-breadcrumbs li a {}
  c3m-breadcrumbs li a:hover {}
