<div class="dialog" #dialogElement [attr.aria-hidden]="!isOpen">
  <div class="dialog-overlay" (click)="ToggleOpen()" tabindex="-1"></div>
  <div
    class="dialog-content"
    #container
    [ngClass]="styleClass"
    [attr.aria-labeledby]="dialogTitle"
    [attr.aria-describedby]="dialogDescription"
    role="dialog"
    c3mModalOut
  >
    <h1 id="{{ dialogTitle }}" tabindex="0" #focusable>{{ modaTitle }}</h1>
    <div id="{{ dialogDescription }}">
      <ng-content></ng-content>
    </div>

    <button (click)="ToggleOpen()" class="dialog-close" [attr.aria-label]="closeBtnTitle">
      &times;
    </button>
  </div>
</div>
