
c3m-calendar div > input {max-width: 9em;}

c3m-calendar div > button {
  color: var(--text-inv);
  background-color: var(--n-dark);
}
  c3m-calendar button:hover {opacity: 0.8;}

c3m-calendar .datepicker {
  margin: 0.5rem;
  position: absolute;
  width: 250px;
  background-color: var(--body-bg);
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
c3m-calendar caption {
  display: flex;
  color: var(--text-inv);
  background-color: var(--main-color);
  border-radius: 0.3rem 0.3rem 0 0;
}
  c3m-calendar caption strong {display: inline-block;}

  c3m-calendar caption button {}

c3m-calendar table thead {
  margin-top: 2rem;
  line-height: 2.2rem;
}

c3m-calendar button svg {
  height: 1.2rem;
  width: 1.7rem;
  background-color: #45abbc;
  fill: white;
}

c3m-calendar div#month {
  float: left;
  padding-top: 6px;
  width: 199px;
  height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
c3m-calendar tbody#cal {
  width: 261px;
  font-size: 1.2em;
  text-align: center;
}

/* THE CELLS */
c3m-calendar table th,
c3m-calendar table td {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  line-height: 2rem;
  color: #212121;
}
  c3m-calendar table th abbr{
    text-decoration: none;
  }
  c3m-calendar table td {
    background-color: #ED9C21;
    border: 1px solid #eee;
  }
  c3m-calendar table td.today {
    background-color: #2b95a7;
    border: 1px solid #eee;
    color:white;
  }

c3m-calendar table{
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
}
c3m-calendar table td.empty {
  background-color: rgb(105, 105, 105);
  border: 1px solid #eee;
}

c3m-calendar table td:hover,
c3m-calendar table td.focus {
  border-color: white;
  opacity :0.8;
  cursor: pointer;
}

c3m-calendar .offscreen {
  position: absolute;
  left: -200em;
  top: -100em;
}

c3m-calendar [aria-hidden="true"] {
  display: none;
}
