details.dropdown {
  display: inline-block;
  position: relative;
}

details.dropdown summary {
  color: var(--text-inv);
  background: var(--main-color);
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

details.dropdown summary:focus,
details.dropdown summary:hover,
details.dropdown[open] summary {
  background: var(--main-light);
}

details.dropdown ul {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 1px;
  list-style-type: none;
  background-color: var(--body-bg);
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
}

details.dropdown ul.open {
  height: auto;
  opacity: 1;
  transition: all 1s;
}

details.dropdown li {
  font-size: 1em;
}

details.dropdown button,
details.dropdown c3m-button button,
details.dropdown c3m-button-link a,
details.dropdown a {
  display: block;
  width: 100%;
  font: 100% var(--stack);
  text-decoration: none;
  text-align: left;
  color: var(--body-text);
  background-color: var(--body-bg);
  padding: 0.5em;
  border-radius: 0.3em;
}
details.dropdown button:hover,
details.dropdown c3m-button button:hover,
details.dropdown c3m-button-link a:hover,
details.dropdown button:hover,
details.dropdown a:hover {
  text-decoration: none;
  color: var(--body-text);
  background-color: var(--n-light);
}
details.dropdown button:focus,
details.dropdown c3m-button button:focus,
details.dropdown c3m-button-link a:focus,
details.dropdown button:focus,
details.dropdown a:focus {
  text-decoration: none;
  color: var(--body-text);
  background-color: var(--n-light);
  outline: 1px dotted var(--n-medium);
}
