<!-- TITLE TOAST COMPONENT PAGE -->
<div class="panelTitle">
  <h2><strong> Toast </strong> Component</h2>
  <ul>
    <li><a href="#toast">Floating Toast</a></li>
  </ul>
</div>

<!-- DESCRIPTION TOAST COMPONENT PAGE -->
<div class="titleComponent">
  <div class="descriptionComponent" id="toast">
    <h3>Floating Toast</h3>

    <div class="explain">
      <p>
        Change the <strong>active</strong> value with a click event (use <code>ViewChild</code> on <code>#Toast)</code>
      </p>
    </div>

    <div class="demo">
      <c3m-button (click)="openToast()" ngClass="info">
        Display Toast
      </c3m-button>
      <!-- TOAST DEMO -->
      <c3m-toast #toast delay="50000"> I'm a toast ! <a href="#">Test</a> </c3m-toast>
    </div>

    <!-- TABS SNIPPETS -->
    <c3m-tabs class="snippets">
      <c3m-tab tabTitle="To call the component">
        <div class="code">
          <!--?prettify lang=html linenums=true?-->
          <pre class="prettyprint linenums">
              <code>
  &lt;!-- TOAST DEMO --&gt;
  &lt;c3m-toast #toast delay=&#34;2500&#34;&gt;
    I&apos;m a toast !
  &lt;/c3m-toast&gt;
              </code>
            </pre>
        </div>
      </c3m-tab>
    </c3m-tabs>

    <div class="properties">
      <h4>Properties</h4>
      <table>
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td>active</td>
            <td>boolean</td>
            <td>null</td>
            <td>display the toast</td>
          </tr>
          <tr>
            <td>delay</td>
            <td>number</td>
            <td>Not null</td>
            <td>delay before toast dissapears</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
