c3m-input-search button {
  vertical-align: bottom;
}

c3m-input-search circle {
  fill: var(--main-color);
}

c3m-input-search button:hover circle,
c3m-input-search button:focus circle {
  fill: var(--sec-color);
}

c3m-input-search[required] label {
  background-image: url(/assets/img/mandatory.svg);
  background-repeat: no-repeat;
  padding-left: 20px;
}
