c3m-checkbox-group {
  margin-bottom: 1rem;
}

c3m-checkbox-group legend {
  font: 1em/1 var(--stack-b);
  padding-bottom: 1em;
}

c3m-checkbox-group label {
  display: inline-block;
  font-family: var(--stack);
  padding: 0 0 0 0.5em;
}
c3m-checkbox-group-item + c3m-checkbox-group-item li {
  margin-top: 0.5em;
}

/* Single line options */
c3m-checkbox-group.go-along ul {
  display: flex;
}
c3m-checkbox-group.go-along c3m-checkbox-group-item + c3m-checkbox-group-item li {
  margin: 0 0 0 1em;
}

/* ------------- @MEDIA ---------------- */

@media screen and (min-width: 750px) {
  c3m-checkbox-group legend {
    font-size: 1.3em;
  }
}
