c3m-column-table table {
  width: 100%;
  text-align: left;
}
c3m-column-table caption {
    font: 1.3em var(--stack);
    text-align: left;
    margin-bottom: 0.6rem;
}
c3m-column-table thead th {
  padding: 1rem 0.4rem;
}
c3m-column-table td {
  padding: 1rem 0.4rem;
}
 c3m-column-table tbody strong {display:none;}
c3m-column-table tfoot td {
    padding: 1rem 0.4rem;
}

/* !! Uses max-width */
@media screen and (max-width: 1000px) {

    c3m-column-table table {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.3em;
      border: none;
    }
    c3m-column-table caption {
      display: block;
      font-size: 1.5em;
    }
    c3m-column-table tbody {display: block;}
    c3m-column-table thead {display: none;}

      c3m-column-table tbody tr {
          display: block;
          margin-bottom: 2rem;
      }
      c3m-column-table tbody th {padding-bottom: 0.5rem;}
      c3m-column-table td {
        display: block;
        background-color: initial;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 1px solid var(--n-medium);
      }

      c3m-column-table td::before {
        display: inline-block;
        width: 45%;
        content: attr(data-header);
        padding-right: 2rem;
      }

      c3m-column-table tbody strong {
          display: inline-block;
          width: 6em;
          color: rgb(245, 245, 245);
      }
}
