<!-- TITLE SLIDER COMPONENT PAGE -->
<div class="panelTitle">
    <h2><strong>Skip Link</strong> Component</h2>
    <ul>
      <li><a scrollTo href="#skip">Skip link </a></li>
    </ul>
</div>


  <!-- INPUT REGULAR -->
  <div class="titleComponent">
    <div class="descriptionComponent" id="skip">
      <h3>Skip Link (invisible)</h3>

      <div class="explain">
        <p>This link allows a screen-reader or keyboard user to skip big chunks of navigation links.
          The link is displayed only when it gets focus with keyboard.</p>
      </div>
      <div class="demo">
        <!-- SKIP LINK -->
        <c3m-skip
          text="Go to the main content"
          [id]="'goTotheBottom'">
        </c3m-skip>
      </div>

      <div class="explain">
        <dl>
          <div>
            <dt>Text</dt>
            <dd>Text of the link</dd>
          </div>
          <div>
            <dt>Target</dt>
            <dd>Id of targeted section</dd>
          </div>
        </dl>
      </div>

      <!-- TABS SNIPPETS -->
      <c3m-tabs class="snippets">
        <c3m-tab tabTitle="To call the component">
          <div class="code">
             <!--?prettify lang=html linenums=true?-->
              <pre class="prettyprint linenums">
  &lt;c3m-skip
    text=&#34;Go to the main content&#34;
    [target]=&#34;&apos;goTotheBottom&apos;&#34;&gt;
  &lt;/c3m-skip&gt;
              </pre>
          </div>
        </c3m-tab>

      </c3m-tabs>

      <p id="goTotheBottom">I am the target of <strong>c3m-link</strong></p>
    </div>
    </div>
