details.dropdown {
  display: inline-block;
  position: relative;
}

details.dropdown summary {
  color: var(--text-inv);
  background: var(--main-color);
  padding: 0.4em 1em 0.5em 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

details.dropdown summary:focus,
details.dropdown summary[open] {
  border: outline 1px dashed;
  background: var(--main-light);
}

details.dropdown ul {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  width: 10em;
  height: 1px;
  list-style-type: none;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
}

details.dropdown.open ul {
  height: auto;
  opacity: 1;
  transition: all 1s;
}

details.dropdown.open li {
  font-size: 1em;
}

details.dropdown button,
details.dropdown c3m-button button,
details.dropdown c3m-button-link a,
details.dropdown a {
  display: block;
  width: 100%;
  font: 100% var(--stack);
  text-decoration: none;
  text-align: center;
  color: var(--body-text);
  background-color: var(--body-bg);
  padding: 0.5em;
  border-radius: 0.3em;
}
details.dropdown button:hover,
details.dropdown c3m-button button:hover,
details.dropdown c3m-button-link a:hover,
details.dropdown button:hover {
  color: var(--body-text);
  background-color: var(--n-light);
}

c3m-dropdown details.dropdown.open ul {
  background: #fff;
}

c3m-dropdown details c3m-button button,
c3m-dropdown details li a {
  display: block;
  padding: 0.5em;
  font: 100%/1 var(--stack);
  color: initial;
  text-decoration: none;
  text-align: left;
  background: transparent;
}

c3m-dropdown details li a:focus,
c3m-dropdown details li a:hover,
c3m-dropdown details li button:focus,
c3m-dropdown details li button:hover {
  text-decoration: underline;
  color: inherit;
  background: inherit;
}
