details.dropdown {
  display: inline-block;
  position: relative;
}

details.dropdown summary {
  color: var(--text-inv);
  background: var(--main-color);
  padding: 0.4em 1em 0.5em 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

details.dropdown ul {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  width: 10em;
  height: 1px;
  list-style-type: none;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 1s;
}

details.dropdown.open ul {
  height: auto;
  opacity: 1;
  transition: all 1s;
}
details.dropdown.open li {
  font-size: 1em;
}

details.dropdown button {
  width: 100%;
}
