/* Label styled as a button */
c3m-checkbox-button label {
  display: inline-block;
  overflow: hidden;
}

/* Style of Button */
c3m-checkbox-button label span {
  display: inline-block;
  text-align: center;
  padding: 0.6em 0.5em 0.5em;
  border: 1px solid var(--n-dark);
  cursor: pointer;
}

/* Hover */
c3m-checkbox-button label span:hover {
  color: var(--text-inv);
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* Hide Input */
c3m-checkbox-button label input {
  position: relative;
  left: -5em;
}

/* Style of Button is Checked */
c3m-checkbox-button input:checked + span {
  color: var(--text-inv);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
