<table>
  <caption>
    Responsive Table
  </caption>
  <thead>
    <tr>
      <th scope="col">Movie Title</th>
      <th scope="col">Duration</th>
      <th scope="col">Year</th>
      <th scope="col">Type</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" data-header="Movie Title">Inception</th>
      <td data-header="Duration">148</td>
      <td data-header="Year">2010</td>
      <td data-header="Category">SF</td>
      <td data-header="Country">UK</td>
    </tr>
    <tr>
      <th scope="row" data-header="Movie Title">The dark knight</th>
      <td data-header="Duration">164</td>
      <td data-header="Year">2012</td>
      <td data-header="Category">SH</td>
      <td data-header="Country">USA/UK</td>
    </tr>
    <tr>
      <th scope="row" data-header="Movie Title">Pulp Fiction</th>
      <td data-header="Duration">154</td>
      <td data-header="Year">1994</td>
      <td data-header="Category">Gangster</td>
      <td data-header="Country">USA</td>
    </tr>
  </tbody>
</table>
